on: [push]

jobs:
  hello_world_job:
    runs-on: macos-latest
    name: Generate Scar bin
    steps:
    - uses: actions/checkout@v2
    - id: foo
      uses: davidrichard23/actions-test@master
      with:
        os: 'macos'
    - name: Upload MacOS Scar bin
        uses: actions/upload-artifact@v2
        with:
          name: macos-scar
          path: dist/scarcli